<h2 mat-dialog-title>Cambiar Contraseña</h2>

<mat-dialog-content>
  <!-- Aplicamos la clase .password-form aquí -->
  <form [formGroup]="form" class="password-form">
    
    <p class="text-muted f-s-14 mb-1">
      Por seguridad, ingresa tu contraseña actual y luego la nueva.
    </p>

    <!-- Campo 1: Contraseña Actual -->
    <mat-form-field appearance="outline">
      <mat-label>Contraseña Actual</mat-label>
      <input matInput type="password" formControlName="oldPassword">
      <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">
        Requerido
      </mat-error>
    </mat-form-field>

    <!-- Campo 2: Nueva Contraseña -->
    <mat-form-field appearance="outline">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput type="password" formControlName="newPassword">
      <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
        Requerido
      </mat-error>
      <mat-error *ngIf="form.get('newPassword')?.hasError('minlength')">
        Mínimo 6 caracteres
      </mat-error>
    </mat-form-field>

    <!-- Campo 3: Confirmar -->
    <mat-form-field appearance="outline">
      <mat-label>Confirmar Nueva Contraseña</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="form.hasError('mismatch')">
        Las contraseñas no coinciden
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()" [disabled]="loading">Cancelar</button>
  <button mat-flat-button color="warn" (click)="guardar()" [disabled]="form.invalid || loading">
    {{ loading ? 'Actualizando...' : 'Cambiar Contraseña' }}
  </button>
</mat-dialog-actions>