<div class="container mt-4">
  @if (isLoading) {
    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
      <mat-spinner></mat-spinner>
    </div>
  }

  @if (evaluacion) {
    <mat-card class="cardWithShadow p-3">
      <div class="row g-0 align-items-center">
  <div class="col-md-5 p-3">
    <div class="image-container">
      <img [src]="evaluacion.imagenUrl" alt="{{ evaluacion.titulo }}">
    </div>
  </div>
  <div class="col-md-7 d-flex flex-column">
          <mat-card-content class="p-24 flex-grow-1">
            <h2 class="mat-h2">{{ evaluacion.titulo }}</h2>
            <p class="mat-body-1 text-muted">{{ evaluacion.descripcion }}</p>

            <div class="info-section mt-4">
              <p><strong><i class="ti ti-calendar"></i> Fecha de inicio:</strong> {{ evaluacion.fechaInicio | date:'fullDate' }}</p>
              <p><strong><i class="ti ti-calendar-off"></i> Fecha de fin:</strong> {{ evaluacion.fechaFin | date:'fullDate' }}</p>
              <p><strong><i class="ti ti-question-mark"></i> Número de preguntas:</strong> 16</p>
              <p><strong><i class="ti ti-clock"></i> Tiempo estimado:</strong> 30 minutos</p>
            </div>
          
          </mat-card-content>
          
<mat-card-actions class="p-24 pt-0" style="display: flex; gap: 8px;">
  <a mat-flat-button color="primary" [routerLink]="['/quiz', evaluacionId]">
    Iniciar
  </a>
  
  <a mat-stroked-button color="warn" [routerLink]="['/dashboard']">
    Cancelar
  </a>
</mat-card-actions>
        </div>
      </div>
    </mat-card>
  }
</div>