<div class="quiz-container">

  @if (isLoading) {
    <div class="loading">
      <mat-spinner diameter="80" color="accent"></mat-spinner>
    </div>
  }

  @if (quiz && preguntaActual) {
    <mat-card class="quiz-card">

      <mat-card-header class="quiz-header">
        <div class="quiz-header-content">
          <mat-card-title>🧩 {{ quiz.titulo }}</mat-card-title>
          <mat-card-subtitle>
            Nivel {{ preguntaActualIndex + 1 }} / {{ quiz.preguntas.length }}
          </mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-content class="quiz-content">
        
        <div class="question-block">

          <div class="question-left-zone">
            <p class="question-text">
              {{ preguntaActual.enunciado }}
            </p>

            @if (preguntaActual.urlContenido) {
              <div class="question-image-wrapper">
                <img
                  [src]="preguntaActual.urlContenido | cloudinaryTransform:400:300"
                  alt="Imagen de la pregunta"
                  class="question-image">
              </div>
            }
          </div>

          <div class="options-right-zone">
            @for (opcion of preguntaActual.opciones; track opcion.id) {
              <div
                class="option-card"
                [class.selected]="respuestas.get(preguntaActual.id) === opcion.id"
                (click)="seleccionarRespuesta(preguntaActual.id, opcion.id)">
                
                @if (opcion.urlContenido) {
                  <img
                    [src]="opcion.urlContenido | cloudinaryTransform:150:150"
                    alt="Imagen opción"
                    class="option-image">
                }
              </div>
            }
          </div>

        </div>
      </mat-card-content>

      <mat-card-actions class="quiz-actions">

        @if (preguntaActualIndex < quiz.preguntas.length - 1) {
          <button
            class="btn-fun btn-next"
            (click)="siguientePregunta()"
            [disabled]="!respuestas.has(preguntaActual.id)">
            Siguiente ➡️
          </button>
        }

        @if (preguntaActualIndex === quiz.preguntas.length - 1) {
          <button
            class="btn-fun btn-finish"
            (click)="enviarEvaluacion()"
            [disabled]="!respuestas.has(preguntaActual.id)">
            🚀 Terminar
          </button>
        }

      </mat-card-actions>

    </mat-card>
  }

</div>