<div class="blue_theme light-theme" dir="ltr">

  <mat-sidenav-container class="mainWrapper" autosize autoFocus>
    <!-- ============================================================== -->
    <!-- Vertical Sidebar -->
    <!-- ============================================================== -->
    <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
      (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">
      
      <div class="flex-layout">
        <!-- AQUÍ ESTÁ LA SOLUCIÓN: -->
        <!-- Agregamos (toggleCollapsed)="toggleCollapsed()" -->
        <!-- Esto conecta el clic de tu flecha con la función que encoge el menú -->
        <app-sidebar 
          (toggleMobileNav)="sidenav.toggle()" 
          (toggleCollapsed)="toggleCollapsed()"  
          [showToggle]="isOver">
        </app-sidebar>
      </div>
      
    </mat-sidenav>

    <!-- ============================================================== -->
    <!-- Main Content -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="contentWrapper" #content>
      
      <!-- Header -->
      <app-header [showToggle]="!isOver" (toggleCollapsed)="toggleCollapsed()"
        (toggleMobileNav)="sidenav.toggle()"></app-header>

      <div class="body-wrapper">
        <main class="pageWrapper maxWidth">
          <router-outlet></router-outlet>
        </main>
      </div>

      <div class="p-16 p-t-8 p-b-30 text-center"> 
        Desarrollado por <a href="https://www.wrappixel.com/" target="_blank" class="text-decoration-none">Jeandavid Cabrera</a>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>