<nav id="navbar" [ngClass]="{'scrolled': isNavbarScrolled}">
  <div class="nav-container">
    <div class="logo">Kiddy Quiz</div>
    <ul class="nav-links">
      <li><a (click)="scrollTo('home')">Inicio</a></li>
      <li><a (click)="scrollTo('portfolio')">Beneficios</a></li>
      <li><a (click)="scrollTo('about')">Equipo</a></li>
      
      @if (estaLogueado) {
        <li><a routerLink="/dashboard" class="login-button-nav">Evaluaciones</a></li>
      } @else {
        <li><a routerLink="/authentication/login" class="login-button-nav">Iniciar Sesión</a></li>
      }
    </ul>
    
    <div class="mobile-menu-toggle" id="mobileMenuToggle" (click)="toggleMobileMenu()" [ngClass]="{'active': isMobileMenuOpen}">
      <div class="hamburger"></div>
      <div class="hamburger"></div>
      <div class="hamburger"></div>
    </div>
  </div>
</nav>

<div class="mobile-menu" id="mobileMenu" [ngClass]="{'active': isMobileMenuOpen}">
  <ul class="mobile-nav-links">
    <li><a (click)="scrollTo('home')">Inicio</a></li>
    <li><a (click)="scrollTo('portfolio')">Beneficios</a></li>
    <li><a (click)="scrollTo('about')">Equipo</a></li>
    
    @if (estaLogueado) {
      <li><a routerLink="/dashboard" (click)="closeMobileMenu()">Evaluaciones</a></li>
    } @else {
      <li><a routerLink="/authentication/login" (click)="closeMobileMenu()">Iniciar Sesión</a></li>
    }
  </ul>
</div>

<section id="home" class="hero">
  <div class="floating-shapes">
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-3"></div>
    <div class="shape shape-4"></div>
    <div class="shape shape-5"></div>
    <div class="shape shape-6"></div>
  </div>
  <div class="hero-content">
    <h1>Kiddy Quiz: Camino a superar tus retos.</h1>
    <p class="subtitle">Una aplicación inclusiva diseñada para acompañar a los estudiantes en su aprendizaje de Matemáticas, fomentando la participación activa con evaluaciones dinámicas y adaptadas por competencias.</p>
    <a class="cta-button" (click)="scrollTo('portfolio')">Beneficios</a>
  </div>
</section>

<section id="portfolio" class="portfolio">
  <div class="container">
    <h2 class="section-title fade-in" #animatedEl>Beneficios</h2>
    <div class="portfolio-grid">

      <div class="portfolio-item" #portfolioItem>
        <div class="portfolio-image"></div>
        <div class="portfolio-content">
          <h4>Estudiantes de primaria</h4>
          <p style="text-align: justify;">
           Reciben evaluaciones dinámicas, segmentadas por módulos y con distintos tipos de preguntas. Además, pueden aprender de forma más entretenida, a su propio ritmo y con adaptaciones según la dificultad.
          </p>
        </div>
      </div>

      <div class="portfolio-item" #portfolioItem>
        <div class="portfolio-image"></div>
        <div class="portfolio-content">
          <h4>Docentes</h4>
          <p style="text-align: justify;">
            Obtienen informes individuales y detallados del progreso de cada estudiante. Esto les ayuda a identificar fortalezas y debilidades, ajustar la enseñanza y aplicar un seguimiento personalizado. 
          </p>
        </div>
      </div>
      
      <div class="portfolio-item" #portfolioItem>
        <div class="portfolio-image"></div>
        <div class="portfolio-content">
          <h4>Instituciones educativas</h4>
          <p style="text-align: justify;">
           Disponen de una herramienta inclusiva y moderna para evaluar competencias curriculares. Favorece la calidad educativa, optimiza el tiempo de evaluación y aporta datos útiles para la toma de decisiones pedagógicas.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

@if (modalVideoActivo) {
  <div class="video-modal" style="display: flex;" (click)="cerrarVideo()">
    <div class="video-box" (click)="$event.stopPropagation()">
      <iframe [src]="videoUrl" width="100%" height="450" frameborder="0" allow="autoplay" allowfullscreen></iframe>
      <button (click)="cerrarVideo()">X</button>
    </div>
  </div>
}

@if (modalTextoActivo === 1) {
  <div class="texto-modal" style="display: flex;" (click)="cerrarTexto()">
    <div class="texto-box" (click)="$event.stopPropagation()">
      <h3>Indicaciones - Síndrome del túnel carpiano</h3>
      <p></p>
      <button (click)="cerrarTexto()">X</button>
    </div>
  </div>
}
@if (modalTextoActivo === 2) {
  <div class="texto-modal" style="display: flex;" (click)="cerrarTexto()">
    <div class="texto-box" (click)="$event.stopPropagation()">
      <h3>Indicaciones - Tendinitis</h3>
      <p></p>
      <button (click)="cerrarTexto()">X</button>
    </div>
  </div>
}
<section id="about" class="about">
  <div class="container">
    <h2 class="section-title fade-in" #animatedEl>Equipo</h2>
    <div class="about-content">
      <div class="about-card" #aboutCard>
        <div class="about-image image1"></div>
        <h3>Dr. Gleiston Guerrero</h3>
        <p style="text-align: justify;">
       Brindó apoyo constante y orientación estratégica, asegurando el cumplimiento de los objetivos en cada etapa del desarrollo.
        </p>
      </div>
      <div class="about-card" #aboutCard>
        <div class="about-image image2"></div>
        <h3>Jeandavid Cabrera</h3>
        <p style="text-align: justify;">
        Encargado del diseño y la implementación de la aplicación, garantizando su funcionamiento y calidad.
        </p>
      </div>
      <div class="about-card" #aboutCard>
        <div class="about-image image3"></div>
        <h3>Dr. Orlando Erazo</h3>
        <p style="text-align: justify;">
        Aportó guía pedagógica y acompañamiento, fortaleciendo el proceso con su experiencia y asesoría práctica.
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-left">
        <p>&copy; 2025 Derechos reservados.</p>
      </div>
      <div class="footer-right">
        <a href="" target="_blank" rel="noopener nofollow">Desarrollado por Jeandavid Cabrera</a>
      </div>
    </div>
  </div>
</footer>