<div class="row justify-content-center">
  @for(evaluacion of evaluaciones; track evaluacion.id) {
  <div class="col-lg-4">
    <mat-card class="cardWithShadow position-relative overflow-hidden clickable-card">
      
<a [routerLink]="['/evaluacion', evaluacion.id]" class="stretched-link"></a>
      
      <div class="position-relative">
        <img
          mat-card-image
          [src]="evaluacion.imagenUrl"
          alt="{{ evaluacion.titulo }}"
          class="card-img-fixed"
        />
        <div class="card-overlay h-100 d-flex align-items-end justify-content-end">
          <span class="f-s-12 f-w-600 m-y-16 m-r-16 p-y-4 p-x-8 rounded-pill bg-white">
            Inicio: {{ evaluacion.fechaInicio | date:'mediumDate' }}
          </span>
        </div>
      </div>

      <mat-card-content class="p-y-24">
        <mat-card-title class="m-t-20">
          {{ evaluacion.titulo }}
        </mat-card-title>
        <p>{{ evaluacion.descripcion }}</p>
        <div class="d-flex align-items-center justify-content-between m-t-24">
          <span class="f-s-14">Fin: {{ evaluacion.fechaFin | date:'mediumDate' }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  }
</div>

